---
title: 相册
no_word_count: true
no_toc: true
no_date: true
no_declare: true
no_reward: true
no_comments: false
abbrlink: 876e0d9
---

<link rel="stylesheet" href="./static/ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn active" href="./index.html">Photos</a>
	<a class="photos-btn" href="./video.html">Videos</a>
</div>
<div class="instagram itemscope">
	<a href="/photos/index.html" target="_blank" class="open-ins">图片正在加载中…</a>
</div>
<script>
  (function() {
    var loadScript = function(path) {
      var $script = document.createElement('script')
      document.getElementsByTagName('body')[0].appendChild($script)
      $script.setAttribute('src', path)
    }
    setTimeout(function() {
      loadScript('./static/ins.js')
    }, 0)
  })()
</script>