---
title: 视频
no_word_count: true
no_toc: true
no_date: true
no_declare: true
no_reward: true
no_comments: false
abbrlink: e26d1860
---

<link rel="stylesheet" href="./static/ins.css">
<div class="photos-btn-wrap">	
  <a class="photos-btn" href="./index.html">Photos</a>
  <a class="photos-btn active" href="./video.html">Videos</a>
</div>


<center>
  <h1>(强推)李宏毅2021/2022春机器学习课程</h1>
</center>
<hr>
<div style="position:relative; padding-bottom:75%; width:100%; height:0" >
  <iframe src="//player.bilibili.com/player.html?aid=246993280&bvid=BV1Wv411h7kN&cid=303819228&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" style="position:absolute; height: 90%; width: 100%; "></iframe>
</div>
